config NFC_NXP_PN7462
	tristate "NXP PN7462 based driver"
	depends on I2C
	select CRC_CCITT
	default n
	---help---
	  NXP PN7462 driver based on I2C.
	  This is a driver to provides I2C access to PN7462 NFC Controller devices 

	  To compile this driver as a module, choose m here. The module will
	  be called pn7462_i2c.
	  Say N if unsure.
